<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name> Project 4 Enterprise Systems | CNT 4714 </display-name>


  <welcome-file-list>
    <welcome-file>RootUser.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Project4</servlet-name>
    <servlet-class>Project4</servlet-class>
  </servlet>

 <servlet-mapping>
    <servlet-name>Project4</servlet-name>
    <url-pattern>/Project4</url-pattern>
  </servlet-mapping>

    <!--For the Root User Application-->
  <servlet>
    <servlet-name>RootUserApp</servlet-name>
    <servlet-class>RootUserApp</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RootUserApp</servlet-name>
    <url-pattern>/RootUserApp</url-pattern>
  </servlet-mapping>

    <!--For the Client User Application-->
  <servlet>
    <servlet-name>ClientUserApp</servlet-name>
    <servlet-class>ClientUserApp</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ClientUserApp</servlet-name>
    <url-pattern>/ClientUserApp</url-pattern>
  </servlet-mapping>

 
    <!--For the Data Entry User Add Suppliers Record-->
  <servlet>
    <servlet-name>AddSupplierRecord</servlet-name>
    <servlet-class>AddSupplierRecord</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddSupplierRecord</servlet-name>
    <url-pattern>/AddSupplierRecord</url-pattern>
  </servlet-mapping>

    <!--For the Data Entry User Add Parts Record-->
  <servlet>
    <servlet-name>AddPartRecord</servlet-name>
    <servlet-class>AddPartRecord</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddPartRecord</servlet-name>
    <url-pattern>/AddPartRecord</url-pattern>
  </servlet-mapping>

<!--For the Data Entry User Add Job Record-->
  <servlet>
    <servlet-name>AddJobRecord</servlet-name>
    <servlet-class>AddJobRecord</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddJobRecord</servlet-name>
    <url-pattern>/AddJobRecord</url-pattern>
  </servlet-mapping>

    <!--For the Data Entry User Add Shipping Record-->
  <servlet>
    <servlet-name>AddShipmentRecord</servlet-name>
    <servlet-class>AddShipmentRecord</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddShipmentRecord</servlet-name>
    <url-pattern>/AddShipmentRecord</url-pattern>
  </servlet-mapping>

</web-app>